@charset "utf-8";
table th {
	border-bottom: 5px #777 solid;
}

table td {
	background: #eee;
	text-align: left;
	border: 1px solid #eee;
}

table th {
	text-align: left;
}

h3 {
	text-align: center;
	background: #eee;
	margin: 10px 0px;
}

.submit {
	display: inline;
}